<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178529905114-jejl5qktve7g0bud3b142ce9tcbvca4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178529905114-jejl5qktve7g0bud3b142ce9tcbvca4p</string>
	<key>API_KEY</key>
	<string>AIzaSyBVhcMIFpJtieV_fk6ZgouyzWHEZeDCxj4</string>
	<key>GCM_SENDER_ID</key>
	<string>178529905114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blueapp</string>
	<key>PROJECT_ID</key>
	<string>blue-edbc2</string>
	<key>STORAGE_BUCKET</key>
	<string>blue-edbc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178529905114:ios:34f36fe68a824d1afef8e3</string>
</dict>
</plist>